# Sales Analysis

### Import Libraries

In [1]:
import pandas as pd

## Task 1: Merge 12 months of sales data in to one csv file.

In [2]:
january_df = pd.read_csv('Sales_Data/Sales_January_2019.csv')
february_df = pd.read_csv('Sales_Data/Sales_February_2019.csv')
march_df = pd.read_csv('Sales_Data/Sales_March_2019.csv')
april_df = pd.read_csv('Sales_Data/Sales_April_2019.csv')
may_df = pd.read_csv('Sales_Data/Sales_May_2019.csv')
june_df = pd.read_csv('Sales_Data/Sales_June_2019.csv')
july_df = pd.read_csv('Sales_Data/Sales_July_2019.csv')
august_df = pd.read_csv('Sales_Data/Sales_August_2019.csv')
september_df = pd.read_csv('Sales_Data/Sales_September_2019.csv')
october_df = pd.read_csv('Sales_Data/Sales_October_2019.csv')
november_df = pd.read_csv('Sales_Data/Sales_November_2019.csv')
december_df = pd.read_csv('Sales_Data/Sales_December_2019.csv')

In [3]:
full_df = pd.DataFrame()
full_df = full_df.append(january_df)
full_df = full_df.append(february_df)
full_df = full_df.append(march_df)
full_df = full_df.append(april_df)
full_df = full_df.append(may_df)
full_df = full_df.append(june_df)
full_df = full_df.append(july_df)
full_df = full_df.append(august_df)
full_df = full_df.append(september_df)
full_df = full_df.append(october_df)
full_df = full_df.append(november_df)
full_df = full_df.append(december_df)

In [4]:
full_df.shape

(186850, 6)

In [6]:
full_df.to_csv('Sales.csv', index=False)

#### Read all data from file

In [7]:
all_data = pd.read_csv('Sales.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"